extends layout

block content
	div#imgcont.container(style="margin-top:100px;")
		.row
			.col-md-5(style="background-color:rgba(0,0,0,0.7);text-align:center;border-radius:10px;margin:20px;padding:0px;")

				img.img-circle.img-responsive(src="/images/#{img}",style="width:250px;height:250px;margin-right:0;display:inline-block;border:3px #ff6432 dotted;")
				h2.sm(style="margin:30px;")=name
				h4 a.k.a.
				h2.sm(style="margin:30px;")=username
				h2.sm(style="margin:30px;")=email
				h2.sm(style="margin:30px;") ---Bio---
				h4=bio
				h2.sm(style="margin:30px;") ---Interests---
				h4=interests



			#tab.col-md-5
				.table-responsive
					table.table
						thead
							tr
								th(style="text-align:center;") Judge
								th(style="text-align:center;") Ratings
						tbody
							tr
								td 
									if cfh!="----"
										a(href="http://codeforces.com/profile/#{cfh}",target="_blank") Codeforces
									else
										p Codeforces
								td
									p#cfr=cfr				
							tr
								td
									if tch!="----"
											a(href="https://www.topcoder.com/members/#{tch}",target="_blank") TopCoder
										else
											p TopCoder
								td
									p=tcr				
							tr
								td
									if cch!="----"
											a(href="https://www.codechef.com/users/#{cch}",target="_blank") CodeChef
										else
											p CodeChef
								td
									p#ccr=ccr				
							tr
								td
									if hrh!="----"
											a(href="https://www.hackerrank.com/#{hrh}",target="_blank") Hackerrank
										else
											p Hackerrank
								td
									p#hrr=hrr				
							tr
								td
									if heh!="----"
											a(href="https://www.hackerearth.com/@#{heh}",target="_blank") HackerEarth
										else
											p HackerEarth
								td
									p#her=her
				hr(style="border:2px #ff6432 dotted")									
				div
					h2 Aficionados Index !
					h1#index=index
					h3 Current Rank
					h2#cr=cr
					h3 Contributors Rank
					h2#cnr N/A
	include footer

